
<div class="row">
  <div class='col-3'>
    <ul class="list-group">
      <li class="list-group-item">
        <a routerLink="listAccount">Account</a>
      </li>
      <li class="list-group-item">
        <a routerLink="list">customer</a>
        <!-- <ul class="list-group">
          <li class="list-group-item">
            <a routerLink="list">Data Customer</a>
          </li>
        </ul> -->

      </li>

      <li class="list-group-item">
        <a routerLink="listTransaction">Transaction</a>
      </li>
    </ul>
  </div>
  <div class='col-8'>
      <router-outlet></router-outlet>
  </div>
</div>




