<div class='row bg bg-dark'>
  <div class="col-2">
    <img src='assets/code.png' class="img-fluid">
  </div>
  <div class="col-10">
    <h1>Welcome Angular Project</h1>
  </div>
</div>
<div class="row">
  <div class='col-3'>
    <ul class="list-group">
      <li class="list-group-item">
        <a routerLink="listAccount">Account</a>
      </li>
      <li class="list-group-item">
        <a routerLink="list">customer</a>
        <!-- <ul class="list-group">
          <li class="list-group-item">
            <a routerLink="list">Data Customer</a>
          </li>
        </ul> -->

      </li>

      <li class="list-group-item">
        <a routerLink="listTransaction">Transaction</a>
      </li>
    </ul>
  </div>
  <div class='col-8'>
      <router-outlet></router-outlet>
  </div>
</div>
<div class='row bg-info'>
  <div class="col-4">
    <p class="text-center">
      Tel: +62-21-2933 9528
    </p>
  </div>
  <div class="col-4">
    <p class="text-center">
      Agus Sutomo<br>
      COO<br>
      Email: asutomo@code.id
    </p>
  </div>
  <div class="col-4">
    <p class="text-center">
      PT. Code Development Indonesia<br>
      APL Tower 26th floor<br>
      Central Park<br>
      Jalan Letjen S. Parman Kav 28<br>
      Jakarta, 11470, Indonesia
    </p>
  </div>
</div>



